.header{
    margin-bottom:50px;
  }

  .container {
    display: flex; /* Usamos Flexbox para alinear los divs form-container y text-container en una fila */
  }
  
  .form-container{
    flex: 1; /* Ocupa el espacio restante disponible */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .text-container{
    width: 300px; /* Fijamos el ancho para el div */
    margin-right: 30px;
  }
  
  #input-container{
    margin-left:430px;
    display: flex;
    flex-direction: space-between;  /* Alinear contenido verticalmente dentro del div */
    gap: 50px;
    margin-bottom:40px;
  }
  
  #input-container label {
    width: 100px;            /* Ancho fijo para los labels */
    text-align: right;       /* Alinear texto de los labels a la derecha */
  }
    
  #input-container input {
    width: 380px;            /* Ancho de los inputs */
    height: 20px;
  }
  
  .button-container{
    margin-top: 30px;
    margin-left:200px;
    display: flex;  
    gap: 100px;
    padding-left: 300px;
  }