<form [formGroup]="newPasswordForm" #captchaForm="ngForm">

    <div class="header">
      <h2>Recuperación de cuenta de usuario (2/2)</h2>
    </div>

    <div class = "container">
      <div class="form-container">
        <div id="input-container">
          <label for="pwdOne">Nueva Contraseña:</label>
          <input [type]="passwordFieldType" id="pwdOne" name="pwdOne" formControlName="pwdOne" required>     
          <button type="button" (click)="cambiarVisibilidadContrasenhaOne()" id="btnOne" name="btnOne">
            {{passwordFieldType === "password" ? "Ver" : "Ocultar"}}
          </button>   
        </div>
        <div id="input-container">
          <label for="pwdTwo">Repetir nueva contraseña:</label>
          <input [type]="passwordFieldType" id="pwdTwo" name="pwdTwo" formControlName="pwdTwo" required> 
          <button type="button" (click)="cambiarVisibilidadContrasenhaTwo()" id="btnTwo" name="btnTwo">
            {{passwordFieldType === "password" ? "Ver" : "Ocultar"}}
          </button>
        </div>
      </div>

      <div class="text-container">
        <p>Recuerda que la contraseña introducida debe tener al menos 8 dígitos y contener una mayúscula, una minúscula, dos números y un caracter especial.</p>
        <br><br>
        <p>Ésta contraseña que introduzcas pasará a ser la nueva contraseña para el acceso a tu cuenta de usuario.</p>
      </div>
    </div>

    <div class="button-container">
      <button (click)="modificarContrasenha()">OK</button><br>
      <button routerLink="inicio-sesion">Atrás</button>
    </div>

</form>