<form [formGroup]="modificarForm" (ngSubmit)="modificarUsuario()">
    <div class="header">
      <h2>Modificación de datos</h2>
    </div>
    
    <div class="form-container">
      <div id="btnChangePassword">
        <button type="button" (click)="mostrarElementos()" style="height:40px">Cambiar contraseña</button>
        <p *ngIf="IntroducePassword">Introduzca la contraseña actual</p>
        <button *ngIf="btnOk" type="button">OK</button>
      </div>
      <div id="input-container">
        <label for="password">Contraseña:</label>
        <input [type]="passwordFieldType" id="password" name="password" formControlName="password" required>
        <button type="button" (click)="cambiarVisibilidadContrasenha()" id="vista" name="vista">
          {{passwordFieldType === "password" ? "Ver" : "Ocultar"}}
        </button>
        <p style="width:300px;">La contraseña debe tener al menos 8 dígitos, una mayúscula, una minúscula, dos números y un caracter especial.</p>
      </div>

      <!-- <div id="input-container"> -->
        <div *ngIf="newPassword" id="newPassword">
          <p>Introduzca la nueva contraseña:</p>
          <input [type]="passwordFieldType" id="password" name="password" formControlName="newPassword" required>
          <button type="button" (click)="cambiarVisibilidadContrasenha()" id="vista" name="vista">
            {{passwordFieldType === "password" ? "Ver" : "Ocultar"}}
          </button>
          <button type="button">OK</button>
        </div>
        <div *ngIf="newPasswordTwo" id="newPasswordTwo">
          <p>Introduzca la contraseña de nuevo:</p>
          <input [type]="passwordFieldType" id="password" name="password" formControlName="newPassword" required>
          <button type="button" (click)="cambiarVisibilidadContrasenha()" id="vista" name="vista">
            {{passwordFieldType === "password" ? "Ver" : "Ocultar"}}
          </button>
          <button type="button">OK</button>
        </div>
      <!-- </div> -->

      <div id="input-container">
        <label for="mail">Mail:</label>
        <input type="text" id="mail" name="mail" formControlName="mail" required>
      </div>

      <div id="input-container">
        <label for="telefono">Teléfono:</label>
        <input type="number" id="telefono" name="telefono" formControlName="telefono" required>
      </div>
    </div>

    <div class="button-container">
      <button type="submit">Modificar</button>
      <button routerLink="/sesion-iniciada">Atrás</button>     
    </div>

</form>