<div class="header" *ngIf="nick">
    <h1>Bienvenido {{ nick }}</h1>
</div>
<div class="body" *ngIf="usuario">
    <p style="margin-top:100px">Nickname:   {{usuario.nick}}</p>
    <p>Email:      {{usuario.mail}}</p>
    <p>Fecha de registro:     {{formatearFecha(usuario.fechaRegistro)}}</p>
    <p>Estado:     {{estadoUsuario}}</p>

    <button id="btnCerrarSesion" type="button" (click)="cerrarSesion()">Cerrar Sesión</button>
    <button id="btnListaUsuarios" type="button" (click)="mostrarListaUsuarios()">Lista Usuarios</button>
    <button id="btnEliminar" type="button" (click)="confirmarEliminacion()" style="width:130px">Eliminar cuenta</button>
    <button id="btnModificar" type="button" (click)="modificarCuenta()" style="width:130px">Modificar datos</button>
</div>

