<form [formGroup]="registroForm" (ngSubmit)="registrarProducto()">
    <div>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" formControlName="nombre" required>
      <!-- Muestra un mensaje de error si el campo nombre está vacío -->
      <div *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched">
        Introduzca un nombre de producto.
    </div>
    </div>
    <div>
      <label for="descripcion">Descripción:</label>
      <input type="text" id="descripcion" name="descripcion" formControlName="descripcion" required>
      <!-- Muestra un mensaje de error si el campo descripción está vacío -->
      <div *ngIf="registroForm.get('descripcion')?.invalid && registroForm.get('descripcion')?.touched">
        Introduzca una descripción del producto.
    </div>
    </div>
    <div>
      <label for="marca">Marca:</label>
      <input type="text" id="marca" name="marca" formControlName="marca" required>
      <!-- Muestra un mensaje de error si el campo marca está vacío -->
      <div *ngIf="registroForm.get('marca')?.invalid && registroForm.get('marca')?.touched">
        Introduzca marca del producto.
    </div>
    </div>
    <div>
      <label for="precio">Precio:</label>
      <input type="number" id="precio" name="precio" formControlName="precio" required>
      <!-- Muestra un mensaje de error si el campo precio está vacío -->
      <div *ngIf="registroForm.get('precio')?.invalid && registroForm.get('precio')?.touched">
        Introduzca precio del producto.
    </div>
    </div>
    <div>
      <label for="categoria">Categoría:</label>
      <select id="categoria" formControlName="categoria" required>
        <option value="electronica">Electrónica</option>
        <option value="ropa">Ropa</option>
        <option value="hogar">Hogar</option>
      </select>
      <!-- Muestra un mensaje de error si no se selecciona una categoría -->
      <div *ngIf="registroForm.get('categoria')?.invalid && registroForm.get('categoria')?.touched">
        Seleccione la categoría del producto.
    </div>
    </div>
    <button type="submit">Registrar</button>
</form>
